/* reset */
* {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

h1,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

/* typography */
:root {
  word-break: keep-all;
}

/* layout */
.wrapper {
  width: 400px;
  margin: 100px auto;
}

/* design */
body {
  background-image: url(./images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flow-root;
}

.animal-cover {
  display: block;
  margin: 0 auto;
}

.animal-main {
  padding: 80px 20px 30px;
  color: #fff;
  background-color: #94572e;
  background-image: url(./images/green.png);
  background-repeat: repeat-x;
  border-radius: 10px 10px 30px 30px;
  box-shadow: 0 10px 0px #4a260b;
}

.animal-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.animal-description {
  color: #d2b9ab;
}
