/* reset */
* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: inherit;
  font-weight: normal;
}

/* layout */
.container {
  width: 500px;
  margin: 100px auto;
}

.main {
  width: 300px;
  margin: 0 auto;
}

.image {
  display: block;
  margin: 0 auto;
}

/* design */
body {
  background-image: url(./images/bg.png);
}

.main {
  background-color: #94572e;
  background-image: url(./images/green.png);
  background-repeat: repeat-x;
  padding: 80px 20px 30px;
  color: #fff;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 10px 0px #4a260b;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.description {
  word-break: keep-all;
  color: #d2b9ab;
}
